*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.countriescomponent {
  width: 100%;
  height: 100vh;
}

header{
    width: 100%;
    height: 5rem;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    /* padding: 1.5%; */
}

.modeScreen{
    display: flex;
    height: 100%;
    border: 1px solid;
    width: 13rem;
}

.filters{
    width: 100%;
    border: 1px solid;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    width: 50%;
    border: 1px solid;
}

.search input{
    height: 4rem;
    margin: 1rem;
}

.regions{
    margin-right: 15px;
    height: 3rem;
    width: 10rem;

}